[Desktop Entry]
Name=Pixie SDDM
Comment=A minimal SDDM theme inspired by Pixel UI and Material You.
Version=1.0
Author=xCaptaiN09
Type=Service
X-SDDM-Theme-InterfaceVersion=2
